<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="0" cellpadding="10">
    <thead>
    </thead>
    <tbody>
    <!--    Strings-->
            <tr th:each="file: ${files}">
                <td >
                    <img th:src="@{'http://'+${ip_address}+':8080/task/'+${file}  }" width="350"/>
                    <a th:href="@{'/task/delete/'+${file}}">Delete</a>

                </td>
            </tr>
    </tbody>
</table>

<table border="0" cellpadding="10">
    <thead>
    </thead>
    <tbody>
    <!--    Strings-->
    <tr th:each="video: ${videos}">
        <td >
            <video width="350" controls>
                <source  th:src="@{'http://'+${ip_address}+':8080/task/'+${video}  }" type="video/mp4">
            </video>
            <a th:href="@{'/task/delete/'+${video}}">Delete</a>

        </td>
    </tr>
    </tbody>
</table>

<form method="POST" enctype="multipart/form-data" th:action="@{'/task/image/'+${tid}}">
    <table>
    </tr>
    <div>
      <tr>
        Incarca Imagine sau Video(mp4):
        <input type="file" class="custom-file-input" name="file" value="Upload" style="padding-bottom: 5px"/>
      </tr></div>

    <tr>
      <td><button type="submit">Upload</button></td>
    </tr>
    </table>
</form>

    <div th:if="${message}">
      <h2 th:text="${message}"/>
    </div>
</body>
</html>