<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Show Rapport</title>
</head>
<body>
<br>
<div  sec:authorize="isAuthenticated()" class="outer">
    <a th:href="@{'/raport/pdf/' + ${raport.rid}}">Download PDF</a>
    <a th:href="@{'/raport/excel/' + ${raport.rid}}">Export as Excel</a>
    <a th:href="@{'/raport/chart/' + ${raport.rid}}">See chart</a>

</div>


    <p th:text="'Rapport for' +${raport.getMonth()} + ' ' + ${raport.getYear()}"></p>
    <form th:action="@{'/raport/save'}"
          th:object="${raport}" method="post">

        <p><input type="hidden" th:field="*{rid}"  /></p>
        <p><input type="hidden" th:field="*{month}"  /></p>
        <p><input type="hidden" th:field="*{year}"  /></p>
        <p><input type="hidden" th:field="*{machine}"  /></p>

        <table border="1">
            <thead>
                <tr>
                    <th>Tip </th>
                    <th>Subansamblu</th>
                    <th>Lucrari conf. plan anual</th>
                    <th>Actiune 1</th>
                    <th>Actiune 2</th>
                    <th>Actiune 3</th>
                    <th>Obs. Lucrari</th>
                    <th>Personal Intern</th>
                    <th>Lucrari conf. situatie reala</th>
                    <th>Images</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="task, i : ${raport.tasks}">
<!--                <p><input type="hidden" th:field="*{tasks[__${i.index}__].taskType.ttid}"  /></p>-->
<!--                <td>-->
<!--                    <input type="text" th:field="*{tasks[__${i.index}__].taskType.ttid}"  />-->
<!--                </td>-->
                <td>
                    <p th:text="*{tasks[__${i.index}__].component.componentType.getCtname()}"></p>
                </td>
                <td>
                    <p th:text="*{tasks[__${i.index}__].component.getName()}"></p>
                </td>
                <td>
                    <span sec:authorize="isAuthenticated()">
                        <select th:field="*{tasks[__${i.index}__].taskType.ttid}",required="false">
                            <option th:each="tt : ${taskTypes}" th:value="${tt.ttid}" th:text="${tt.ttname}">
                            </option>
                        </select>
                    </span>
                    <span sec:authorize="isAnonymous()">
                        <input type="hidden" th:field="*{tasks[__${i.index}__].taskType.ttid}"  />
                        <p th:text="*{tasks[__${i.index}__].taskType.ttname}"></p>
                    </span>
                </td>
                <td>
                    <select th:field="*{tasks[__${i.index}__].action1}">
                        <option th:each="tt : ${taskTypes}" th:value="${tt.ttname}" th:text="${tt.ttname}">
                        </option>
                    </select>
                </td>
                <td>
                    <select th:field="*{tasks[__${i.index}__].action2}">
                        <option th:each="tt : ${taskTypes}" th:value="${tt.ttname}" th:text="${tt.ttname}">
                        </option>
                    </select>
                </td>
                <td>
                    <select th:field="*{tasks[__${i.index}__].action3}">
                        <option th:each="tt : ${taskTypes}" th:value="${tt.ttname}" th:text="${tt.ttname}">
                        </option>
                    </select>
                </td>
                <td>
                    <input type="text" th:field="*{tasks[__${i.index}__].obsWorker}"  />
                </td>
                <td>
                    <input type="text" th:field="*{tasks[__${i.index}__].pintern}"  />
                </td>
                <td>
                    <input type="text" th:field="*{tasks[__${i.index}__].realSituation}"  />
                </td>
                <td>
                    <a th:href="@{'/task/image/'+*{tasks[__${i.index}__].tid}}">View</a>
                </td>
                <p><input type="hidden" th:field="*{tasks[__${i.index}__].tid}"  /></p>
                <p><input type="hidden" th:field="*{tasks[__${i.index}__].raport}"  /></p>
                <p><input type="hidden" th:field="*{tasks[__${i.index}__].component}"  /></p>
            </tr>
            </tbody>
        </table>
        <tr>
            <td colspan="2"><button type="submit">Save</button></td>
        </tr>
    </form>
</body>
</html>