<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Machines Information</title>
</head>
<body>
<br>
<a th:href="@{/admin}">Back to Admin Page</a>
    <div align="center">

        <form  sec:authorize="hasAnyAuthority('ADMIN')" th:action="@{'/machine/create'}" method="get">
            <button type="Submit">Add Machine</button>
        </form>

        <table border="1" cellpadding="10">
            <h2>List Machines</h2>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="machine : ${machines}">
                    <td th:text="${machine.mname}">Name</td>
                    <td th:text="${machine.code}">Code</td>
                    <td>
                        <a th:href="@{'/machine/delete/'+${machine.mid}}"
                           th:text="${machine.active} ? 'Deactivate' : 'Activate'" ></a>
                    </td>
                    <td>
                        <a th:href="@{'/machine/edit/'+${machine.mid}}">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{'/machine/excel/'+${machine.mid}}">Export Components</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>