<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Admin Page</title>
</head>

<body>

<div align="center">

    <div class="outer">
        <div sec:authorize="isAuthenticated()">
            <p>
                Welcome <b><span sec:authentication="name">Username</span></b>
            </p>
        </div>
        <form th:action="@{/registration}" method="get" >
            <button type="Submit">Create an account</button>
        </form>
        <form  th:action="@{/logout}" method="get" >
            <button type="Submit">Log out</button>
        </form>

    </div>



   <div class="outer" >
       <a class="main-font" th:href="@{/machine/index}">Machines</a>
       <a class="main-font" th:href="@{/componentType/index}">Types of Components</a>
       <a class="main-font" th:href="@{/taskType/index}">Types of Tasks</a>
       <a class="main-font" th:href="@{/subansamblu/index}">Subansambles</a>
   </div>

    <a th:href="@{/plan/current}" class="a-block main-font">See Current Plan</a>
    <br>
    <a th:href="@{/plan/index}" class="a-block main-font">See All Plans</a>

</div>
</body>
</html>