<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/style.css}" rel="stylesheet">

  <meta charset="UTF-8">
  <title>Rapport machines</title>
</head>
<body>
<br>
<p>
  <a th:href="@{/admin}">Back to admin page</a>
  <a th:href="@{'/plan/excel/' + ${year}}">Export Excel Costs</a>
</p>
<div th:each="machine: ${machines}">
  <a th:text="${machine.mname}" th:href="@{'/plan/'+${year}+'/'+${machine.mname}}" class="a-block main-font">
  </a>

  <br>
</div>
</body>
</html>