<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml"
      xmlns:height="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">

    <title>Component Form</title>
</head>
<body>
<br>
<a th:href="@{/admin}">Back to admin page</a>

<form th:action="@{'/component/create/'+${mid}}"
      th:object="${component}" method="post"
      role="form">
    <h2>component Form</h2>
    <table border="0" cellpadding="10">
        <tr>
            <td><input type="text" th:field="*{name}" placeholder="Name"> <label
                    th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label></td>
        </tr>

        <tr>
            <select th:field="*{subansamblu}">
                <option th:each="ct : ${subansambluri}"
                        th:value="${ct.sid}"
                        th:text="${ct.getSname()}">
                </option>
            </select>
        </tr>

        <tr>
            <select th:field="*{componentType}">
                <option th:each="ct : ${componentTypes}"
                        th:value="${ct.ctid}"
                        th:text="${ct.getCtname()}">
                </option>
            </select>
        </tr>


        <tr>
            <td><button type="component">Register component</button></td>
        </tr>
    </table>

</form>




</body>
</html>