<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Edit Component</title>
</head>
<body>
<br>
<a th:href="@{/admin}">Back to admin page</a>

<div align="center">
    <h1>Edit Component</h1>
    <br />
    <form th:action="@{'/component/edit/'+${mid}}" th:object="${component}"
          method="post">
        <table border="0">


            <tr>
                <td> <input type="hidden"  th:field="*{cid}"> <label
                        th:if="${#fields.hasErrors('cid')}" th:errors="*{cid}"></label>
            </tr>
            <select th:field="*{componentType}",required="false">
                <option th:each="ct : ${componentTypes}" th:value="${ct.ctid}" th:text="${ct.ctname}">
                </option>
            </select>
            <tr>
                <td><input type="text" th:field="*{name}" placeholder="Name"> <label
                        th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label></td>
            </tr>



            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>