<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>components Information</title>
</head>
<body>
<br>
<a th:href="@{/admin}">Back to admin page</a>

<div align="center">


    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>

    <form  sec:authorize="hasAnyAuthority('ADMIN')" th:action="@{'/component/create/'+ ${id}}" method="get">
        <button type="Submit">Add component</button>
    </form>

    <a th:href="@{'/machine/edit/'+${mid}}">Back to Machine</a>

    <table border="1" cellpadding="10">
        <h2>List of components</h2>
        <thead>
        <tr>
            <th>Tip</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="component : ${components}">
            <td th:text="${component.componentType.ctname}"></td>
            <td th:text="${component.name}"></td>

            <td>
                <a th:href="@{'/component/edit/'+${component.cid}}">Edit</a>
            </td>

            <td>
                <a th:href="@{'/component/delete/'+${id}+'/'+${component.cid}}">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>